# Default values for bmrg-apps.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# General Configuration
# - To enable or disable features, use the feature toggle flags under enable.
general:
  namePrefix:
  enable:
    apidocs: false
    debug: false
    eventing: true
    feature:
      activity: true
      insights: true
      quotas: true
      triggers: true
      tokens: true
      teamProperties: true
      globalProperties: true
      teamManagement: true
      userManagement: true
      taskManager: true
      settings: true
  externalUrl: 
    teams: 
    users: 
    navigation: 

workers:
  security:
    enable: true
    policy: ibm-privileged-psp
  logging: 
    type: default
    host: 
    port: 
    secret: 
  enable:
    dedicatedNodes: false
  
core:
  namePrefix: bmrg-core

# General Image Configuration
image:
  registry: boomerangio
  pullPolicy: IfNotPresent
  pullSecret: 

# Job Configuraiton
job:
  data:
    enabled: true
    profile: flow
    image:
      repository: /flow-loader
      tag: 0.4.7

# App Configuration
apps:
  flow:
    image:
      repository: /flow-client-web
      tag: 2.3.0-rc.5
    replicaCount: 1
    service:
      type: ClusterIP
    zone: untrusted

# Micro Service Configuration
# Note: There are if conditions in the template referencing the service name i.e. urbancode
services:
  controller:
    image:
      repository: /flow-service-controller
      tag: 5.0.3
    replicaCount: 1
    service:
      type: ClusterIP
    serviceAccount: null
    zone: semi-trusted
  listener:
    image:
      repository: /flow-service-listener
      tag: 1.1.0
    replicaCount: 1
    service:
      type: ClusterIP
    zone: untrusted
  workflow:
    image:
      repository: /flow-service-workflow
      tag: 2.3.30
    replicaCount: 1
    service:
      type: ClusterIP
    zone: untrusted

database:
  mongodb:
    host: bmrg-mdb001-ibm-mongodb-dev
    port: 27017
    user: boomerang
    password: passw0rd
    secretName: 

ingress:
  enabled: false
  root: ""
  host: cloud.boomerangplatform.net
  tlsSecretName: bmrg-tls-cloud
  # The prefix for the annotations inside the ingress definition. Typically for IKS Community Ingress
  # you need to set it to "nginx.ingress.kubernetes.io"
  annotationsPrefix: "ingress.kubernetes.io"
  # The class of the ingress, it is used to mark the ingress resources to be picked-up by a specific 
  # controller. For IKS Community Ingress set it to "public-iks-k8s-nginx"
  class: "nginx"

auth:
  enabled: false
  mode: basic
  serviceName: bmrg-auth-proxy
  namespace: bmrg-core
  prefix: /oauth
  tokenURL: http://bmrg-core-services-auth.bmrg-core.svc.cluster.local/auth/token/validate/external
  signOutRedirect: 

hostAliases: []

proxy:
  enable: false
  host:
  port:

monitoring:
  newrelic:
    apm:
      name: Boomerang Private
      key:
      image: 
        registry: boomerangio
        repository: /util-newrelicjavaagent
        tag: 5.14.0
    browser:
      id:
      key:
  jaeger: 
    enabled: false
    namespace: 
    agent: 
      host: jaeger-dev-agent
      port: 6831
    collector: 
      host: jaeger-dev-collector
      port: 14268
    remoteControlledSampler: 
      host: jaeger-dev-agent
      port: 5778

nats:
  url: nats://bmrg-nats-operator:4222
  cluster: bmrg-nats-streamer
